* {
    margin:0px;padding:0px;
    box-sizing: border-box;
    /* outline: 1px red solid;  */
}

body {
    background-color: gray;
    padding:10px;
    overflow: hidden;
    /* padding-bottom: 5px; */
}

ul {
    list-style-type: none;
}

ul li:nth-child(even) {
    background-color: #dfdfe2;
}

li {
    padding-left: 5px;
    height: 30px;
    line-height: 30px;
    align-items: center;
    word-wrap: break-word;
    overflow-x: auto;
}
.nav {
    /* background-color: #333; */
    background-color: #0a0a23;
    overflow: hidden; /*What goes out of box stays out of box*/
    height: 8vh;
    border-radius: 20px;
    /* height: 10vh; */
}

.nav a{ /* for links inside nav bar*/
    text-decoration: none; /*to remove link design*/
    float: left; /*This is default alignment though*/
    display: block; /*This would destroy navbar if line above was missing*/
    text-align: center;
    /* File tuning below */
    color: #f2f2f2;
    padding: 14px 16px;
    font-size: 17px;
}


.nav a:hover { /*When mouse above the links items of topnav*/
    background-color: #ddd;
    color: black;
}

.nav a.active { /*When that is selected*/
    background-color: #04AA6D;
    color:white;
}

/*Project Title*/
.nav a.cce_full {
    height:inherit;
    border-radius: 20px;
}
.nav a.cce_short {
    height:inherit;
    float: left;
    display: none;
}

input#username {
    /* float: right; */
    margin:auto;
    width: 15%;
    height:4vh;
    background:gray;
    margin-top: 2vh;
    margin-bottom: 2vh;
    /* padding-top: 1vh; */
    text-align: center;
    font-size: x-large;
    line-height: 4vh;
    border-radius: 10px;
}
input#username::placeholder{
    color:greenyellow;
    font-size: x-large;
    line-height: 4vh;
    text-align: center;
}

/* .right-flex{
    display: flex;
} */

/* For switch */
div.toggle {
    float:right;
    /* height:10vh; */
    display:flex;
    /* margin: 10px 0px; */
    padding: 17px 16px;
}

.nav label{
    float:right;
    display: inline; /*This would destroy navbar if line above was missing*/
    /* height: 100%; */
    display:flex;
    justify-content: center;
    align-items: center;
    /* outline: 2px solid blue; */
}


.switch input { /*hide default HTML checkbox*/
    opacity: 0;
    width: 0;
    height: 0;
}

.switch {/**/
    position:relative;
    display: inline-block;
    /* Fine tuning */
    width: 60px;
    height: 34px;
}

.slider { /*box for toggle button*/
    position: absolute;
    cursor: pointer; /*hand*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
}

.slider:before { /*toggle button ko circle*/
    position:absolute;
    content: "";
    height: 26px;
    width: 26px;
    left:4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider { /*checkbox click huda(i.e. toggled on*/
    background-color: black;
    border: 2px solid gray;
}

input:checked + .slider:before {
    /*when checked(i.e. toggled on*/
    /* These are three transforms as supported by different browser */
    /* -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px); */
    transform: translateX(26px);
}


/* Main */
.flexbox {
    display:flex;
    background-color: #1b1b32;
    margin-top: 10px;
    border-radius: 20px;
    margin-bottom: 0px;
    height: 89vh;
}

div.code {
    width: 45%;
    height: 84vh;
    margin: 4vh;
    margin-bottom:0px;
    display: flex;
    flex-direction: column;
    /* resize: vertical; */
}
div.code h2{
    width: 99%;
    height: 5vh;
    line-height: 5vh;
    border: 1px solid whitesmoke;
    border-radius:5px;
    margin-bottom: 2vh;
    color:whitesmoke;
    text-align: center;
}
#code_with_highlight {
    height: 77vh;
}

.CodeMirror {
    width: 99%;
    max-height: 100%; /* or any other value */
    overflow: auto;
    border-radius: 10px;
}
/* div.code textarea{
    font-size:x-large;
    width: 99%;
    resize: none;
    background-color: #d2d2d2;
    border:none;
    outline:none;
    padding: 5px;
    flex-grow:1;
}

div.code textarea:focus{
    border:none;
    outline:1px solid green;
} */
div.chat {
    width: 45%;
    height: 84vh;
    margin: 4vh;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    /* border-radius:10px ; */
}

div.toggle_chat_output{
    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-sizing: border-box;
    display:flex;
    height:5vh;
    overflow: hidden;
    margin-bottom: 2vh;;
}

div.chat a{
    width: 50%;
    height: inherit;
    line-height: 5vh;
    border-radius:5px;
    color:whitesmoke;
    text-align: center;
    text-decoration: none;
    font-style: bold;
    font-size: x-large;
}

div.chat a.active{
    background-color: #3b3b4f;
}
/* div.chat a#output_head {
    margin-left:4%;
} */

div.chat a:hover{
    background-color: #ddd;
    color: black;
}

div.chat a:active{
    background-color: white;
}

div.chat-history{
    width: 99%;
    height: 72vh;
    flex-grow: 1;
    resize: none;
    background-color: #f3f3f3;
    overflow: auto;
    border-radius: 10px;
}
div.message {
    width: 100%;
    /* height: 10vh; */
    margin-top: 2.5vh;
    overflow: hidden;
}

div.message input{
    width:82%;
    height:4vh;
}

#send_button{
    width: 15%;
    /* margin-left: 2.5%; */
    height:4vh;
    border-radius: 10px;
    /* display:inline-block; */
    float:right;
}

div.output {
    width: 100%;
    display: none;
    height: 80vh;
    background-color: whitesmoke;
    border-radius: 10px;
}

/* For split */
.split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: #3b3b4f;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}


/*Resposniveness*/
@media screen and (max-width: 700px){
    .nav a.cce_full {display: none;}
    .nav a.cce_short {
        float: left;
        display: block;
    }
}
@media screen and (max-height: 600px) {
    .split > *:not(:first-child) {
        display: none;
    }
    .split > *:first-child {
        width: 100vh;
        margin:auto;
    }
    div.nav {display:none}  
}